.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 50px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 500px;
}

.task-item {
  margin-right: 20px;
}

button {
  padding: 8px 16px;
  background-color: #876fdd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e4a8e;
}

.task-item:last-child {
  margin-right: 0;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 500px;
}